<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel=stylesheet type=text/css href= "{{url_for('static', filename='main.css')}}">
		<title>Item Catalog</title>
	</head>
	<body>
		<h1 class="top-section">Movie Catalog <span class="nav-link"><a href="{{url_for('showItems', category_id = item.category_id)}}">Cancel</a>
		</span><span class="top-link"><a href="{{url_for('disconnect')}}">Logout</a></span></h1>
		<div class="display-pane">
		<h2 class="sub-heading">Edit Item</h2>
		<form action="{{url_for('editItem', category_id=item.category_id, item_id=item.id)}}" method = 'POST'>
			<p class="parastyle">Title:</p>
			<p class="parastyle"><input type = 'text' size = '30' name = 'title' placeholder="{{item.title}}"></p>
			<p class="parastyle">Description:</p>
			<p class="parastyle"><input type = 'text' size = '150' name = 'description' placeholder="{{item.description}}"></p>
			<p class="parastyle">Category:</p>
			<p class="parastyle"><select name='categoryid' required></p>
			{% for c in categories %}
			<option value="{{c.name}}">{{c.name}}</option> 
			{% endfor %}
			</select>
			<p class="parastyle"><input class="nav-button" type='submit' value='Edit'><p>
		</form>
		</div>
	</body>
</html>	